<div class="container">
  <% if @attraction.errors.any? %>
    <% @attraction.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <h1>New Attraction</h1>
  <%= render 'form' %>
</div>
