<div class="container">
  <h1>New Attraction</h1>
  <%= form_for @attraction do |f| %>
    <%= render partial: 'attractions/form', locals: {f: f} %>
    <div class: "btn btn-primary">
      <%= f.submit 'Create Attraction', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
