<div class="container">
  <% if @attraction.errors.any? %>
    <% display_errors(@attraction).each do |error| %>
    <li><%= error %></li>
    <% end %>
  <% end%>

  <h1>New Attraction</h1>
  <%= render 'form' %>
</div>
